html{
    background-image: url('./backgroundImg.JPG');
    background-size: cover;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key{
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-size: 20px;
    margin: 8px;
    padding: 10px 25px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 .5rem black;
    transition: all .07s ease;
    width: 4rem;
}
.playing{
    transform: scale(1.5);
    border-color: #ffc800c2; 

}
kbd{
    display: block;
    font-size: 2.5rem;
}
.sound{
    color: #ffc800c2;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}